<footer>    
		<h2>Contacto</h2>
			<div>
				<div>
					<ul>
						<li><a href="/index/quienessomos">¿Quienes somos?</a></li>
						<li><a href="/index/frecuentes">Preguntas frecuentes</a></li>
					</ul>
				</div>
			
				<div>
					[contactos]
						<li>
							<figure>
								<img src="/uploads/{imagen}" alt="Icono">
								<figcaption>
									<a href="{tipo}{informacion}">{contacto}</a>
								</figcaption>
							</figure>
						</li>
					[/contactos]
				</div>
			</div>
	<p>Derechos reservados - Tu escabio - Chivilcoy, Bs. As (6620)</p>
</footer>


<script src="/assets/js/mainn.js"></script>
<script src="/assets/js/busco.js"></script>
<script defer async src="/assets/js/slider.js"></script>
<script src="/install.js"></script>