<header>
	<aside>Colon Café Bar | Desde 2014</aside>
	
	<nav> 
		<ul>
			<li><a href="/"><img src="/assets/images/logo.png" alt="Colon bar" title="Inicio" id="logo"></a>
		</ul>
		<ul>
			<li class="cart">
				<a href="/">
					<figure>
						<img src="/assets/images/carro.png" alt="Carrito">	
						<span id="num_productos" data-rx-is="tsc.count"></span>
						<figcaption>Mi carrito</figcaption>
					</figure>
				</a>
				<ul>
					<li class="cart-resume">				
						<figure>
							<img src="/assets/images/logo.png">
							<figcaption>
								<div>
									<span data-rx-is="tsc.total"></span><br>
									<strong data-rx-is="tsc.shipping"></strong>
								</div>							
							</figcaption>
						</figure>	
						<a href="#">COMPRAR</a>			
					</li>
				</ul>
			</li>
		</ul>
	</nav>
</header>