<!DOCTYPE html>
<html lang="en">
    (include)includes/head.html(/include)
<body>
    (include)includes/header2.html(/include)
    <ul class = "frecuentes">
        <li class = "titulos">
            ¿Cómo se realizan los envíos?
        </li>
        <li class = "respuestas">
            Los envíos se acuerdan a través de WhatsApp al finalizar tu compra a través del carrito. Un representante de nuestro equipo le alcanzara
            el producto a la dirección indicada.
        </li>
        <li class = "titulos">
            ¿Cómo puedo pagar?
        </li>
        <li class = "respuestas">
            Podes pagar a través de MercadoPago con tarjeta de crédito, débito, solo en una cuota. Además podes pagar en efectivo cuando la compra llegue
            al domicilio indicado.
        </li>
        <li class = "titulos">
            ¿Puedo modificar mi pedido?
        </li>
        <li class = "respuestas">
            Desde el carrito de compras podes modificar el pedido y volverlo a enviar. Recorda indicarle al vendedor que surgió una modificación 
            en el pedido.
        </li>
        <li class = "titulos">
            ¿En qué momento puedo realizar el pedido?
        </li>
        <li class = "respuestas">
            El pedido lo podes solicitar en el momento que quieras. En el horario habilitado un representante del equipo llevara el pedido una vez acordado
            a través de WhatsApp.
        </li>
        <li class = "titulos">
            ¿Puedo cancelar el pedido?
        </li>
        <li class = "respuestas">
            Claro! Solo tenes que indicarle al vendedor a través de la WhatsApp si ya enviaste el pedido. Si aún no enviaste el pedido, no te hagas problema!
        </li>
        <li class = "titulos">
            ¿Las ofertas son siempre las mismas?
        </li>
        <li class = "respuestas">
            No! Las ofertas cambian semana a semana. ¡Prestá atención a nuestro sitio para enterarte!
        </li>
        <li class = "titulos">
            ¿La bebida esta fría?
        </li>
        <li class = "respuestas">
            Si! La mayoria de los productos estan refrigerados. Consulta al momento de hacer la compra.
        </li>
        <p><a href="/"><span><img src="/assets/images/left.png" alt="Volver." title="Volver al inicio."></span> Vamos de compras!</a></p>
    </ul>

    
    
</body>
</html>