<!DOCTYPE html>
<html lang="es">
    (include)includes/head.html(/include)
<body>
    (include)includes/header2.html(/include)

    <div class= "quienes_somos">
        <p>¿Quienes somos?</p>
            <div>
                <img src="/assets/images/logo.png" alt="">
                <p>
                   Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, ipsum inventore 
                   aspernatur ullam perspiciatis, quaerat harum a illo nam fugiat, facilis commodi dolorem. Possimus voluptatum natus commodi numquam, perferendis quos?
                </p>
            </div>
        <p>Ante cualquier duda, siempre podes contactarnos a <a href="mailto:">mail@maill.com</a></p>
        <p><a href="/"><span><img src="/assets/images/left.png" alt="Volver." title="Volver al inicio."></span> Vamos de compras!</a></p>

    </div>
</body>
</html>