<!DOCTYPE html>
<html>
	(include)includes/head.html(/include)
	<body>
	
		(include)includes/header.html(/include)
		
		<main>
            <div class="okfinal">
                <figure>
                    <img src="/assets/images/check.gif" alt="ok">
                    <figcaption>
                        Pedido realizado con éxito!
                    </figcaption>
                </figure>
                <div class="agrad">
                    <p>Gracias por confiar en nosotros.</p>
                    <p>Colón Café Bar</p>
                </div>
                <a href="/">Ir al inicio</a>
            </div>
        </main>
		(include)includes/footer.html(/include)
	</body>
</html>