<header>
	<nav>
		<ul>
			<li>
				<a href="/admin/index"><img src="/assets/images/logo.png"></a>
			</li>			
		</ul>
		<ul>
			<li>
				Hola [usuario] {nombre}[/usuario]!
			</li>
			<li>
				<a href="/admin/logout">Salir</a>
			</li>
		</ul>
	</nav>
	<nav>
		
		<ul>
			<li>
				<a href="/admin/index/categoria">Categorias</a>
				<a href="/admin/nuevo/categoria">Agregar</a>
			</li>
			<li>
				<a href="/admin/index/producto">Productos</a>
				<a href="/admin/nuevo/producto">Agregar</a>
			</li>
			<li>
				<a href="/admin/index/oferta">Ofertas</a>
				<a href="/admin/nuevo/oferta">Agregar</a>
			</li>
			<li>
				<a href="/admin/index/contacto">Contacto</a>
				<a href="/admin/nuevo/contacto">Agregar</a>
			</li>
		</ul>
	</nav>
</header>